sudo: required
language: python
cache: pip
git:
  depth: 3
  quiet: true
python:
  - "3.6"
env:
  global:
    - TF_VERSION="2.3.*"
  matrix:
    - TRAX_TEST="lib"
    - TRAX_TEST="research"
install:
  - ./oss_scripts/oss_pip_install.sh
script:
  - ./oss_scripts/oss_tests.sh
